@media screen and (max-width:380px) {
    nav {
        display: none;
    }
}

@media screen and (max-width:805px) {
    .fbar {
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
}

@media screen and (max-height:535px) {
    .logo {
        height: 100px !important;
        padding: auto;
        margin-top: 47px !important;
    }
    .image {
        padding-top: 10px !important;
        width: auto;
    }
    .image img{
        width: 212px;
        height: 72px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #202124;
}

a {
    text-decoration: none;
}

a:visited, a:hover, a:active {
    text-decoration: underline;
    color: #202124;
}

.page-wrapper {
    min-width: 400px;
    min-height: 602px;
    height: 100vh;
    display: grid;
    grid-template-rows: 45px minmax(312px, 1fr) auto;
}

.page-wrapper main {
    padding-bottom: 35px;
}

.page-wrapper footer {
    min-width: 400px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

/*Header*/

nav {
    position: relative;
    top: 16px;
    min-width: 381px;
}

.nav-list {
    display: flex;
    margin-left: 10px;
    margin-right: 30px;
    background: #fff;
}

.nav-item {
    float: left;
    height: 30px;
    padding-left: 18px;
}

.nav-item span {
    display: block;
    height: 30px;
    width: auto;
    line-height: 30px;
}

.space {
    flex: 1 1 auto;
}

.app {
    position: relative;
    top: 5px;
    height: 18px;
    width: 18px;
    opacity: .55;
}
.app:hover{
    opacity: .8;
}
.btn {
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
    background: #1a68e6;
    font-weight: bold;
    color: #fff;
}

button {
    border: none;
    padding: 0;
}

/*Main*/

.logo {
    height: 165px;
    padding: auto;
    margin-top: 89px;
}

.image {
    padding-top: 21px;
    width: auto;
}

.search {
    display: flex;
    justify-content: center;
}

.ipt {
    display: flex;
    flex: 1 1 auto;
    margin: auto 32px;
    padding: 3px 8px 0 16px;
    height: 46px;
    max-width: 482px;
    width: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.ipt:hover{
    box-shadow: 3px 3px 10px 1px #dadce0;}
.ipt span {
    margin: auto;
    width: 20px;
    height: 20px;
    opacity: .35;
}

.ipt input {
    display: flex;
    flex: 1 1 auto;
    margin-left: 16px;
    border: none;
    background-color: transparent;
}

.lucky input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 29px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}
.lucky input:hover{
    border: 1px solid #dfe1e5;
}
.lucky input:active ,input:visited{
    border: 1px solid #1a68e6;
}
/*Footer*/

.footer {
    min-width: 400px;
    color: #797e82;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.fbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 3px;
    margin-right: 30px;
}

.fbar-list {
    display: flex;
}

.fbar-item {
    padding: 20px 0 20px 27px;
}